<%- include('includes/head.ejs') %>

    <main>
        <h1>Welcome, <%= student.name %></h1>
        <h2>About: </h2>
        <h3><%= student.about %></h3>
        <h2>College: </h2>
        <h3><%= student.college %></h3>
        <h2>Projects: </h2>
        <h3>get projects</h3>
        
    </main>

<%- include('includes/end.ejs') %>